html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

:root {
  --bg_main: #6d6875;
  --text_light: #f1faee;
  --text_dark: #03071e;
  --soft_blue: #00b4d8;
  --soft_green: #06d6a0;
  --soft_red: #e63946;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

button,
a {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  z-index: 5;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 3rem 0 5rem 0;
  color: var(--text_light);
  z-index: 5;
}

.start {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.squareBtn {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 10px 24px;
}

.squareBtn:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

.bouncy {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
  margin-top: 2rem;
  padding: 10px 24px;
  z-index: 5;
}

.bouncy:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

#passwordMessage {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 19px;
  font-weight: 500;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url("../../img/stars.png") repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("../../img/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("../../img/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

form {
  z-index: 5;
}

ul {
  z-index: 5;
}

li {
  position: relative;
  list-style: none;
}

.browser_img {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 11px;
  left: -35px;
}

.file_img {
  width: 29px;
  height: 24px;
  position: absolute;
  left: -35px;
  top: -2px;
}

.folder,
.file {
  margin-left: 5px;
  margin-top: 1rem;
}

.folder {
  color: var(--text_light);
  background: none;
  text-align: left;
  border: none;
  min-width: 50%;
  font-weight: 500;
  outline: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.folder:hover {
  font-size: 14px;
  background: var(--soft_blue);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  text-decoration: underline;
}

.file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  padding: 0 2px;
}

.bg_hover {
  background-color: var(--soft_red);
}

.bg_hover--2 {
  background-color: var(--bg_main);
}

.openFile {
  font-size: 14px;
  color: var(--soft_blue);
  margin-left: 4px;
  -webkit-transition: all 1s eaes-in;
  transition: all 1s eaes-in;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.openFile:hover {
  color: var(--soft_green);
  text-decoration: underline;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.back {
  background: none;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  outline: none;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-left: -34px;
  font-size: 14px;
  padding: 5px 33px;
  min-width: 130px;
  transition: all 0.7s ease;
}

.back:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

.back img {
  left: 9px;
  top: 6px;
  width: 15px;
  height: 15px;
  position: absolute;
  -webkit-filter: invert(2%) sepia(81%) saturate(3485%) hue-rotate(245deg) brightness(102%) contrast(103%);
          filter: invert(2%) sepia(81%) saturate(3485%) hue-rotate(245deg) brightness(102%) contrast(103%);
}

.error {
  color: var(--soft_red);
  font-family: "Montserrat Alternates", sans-serif;
}

.delete {
  background: none;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  outline: none;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 1px 33px;
  font-size: 12px;
}

.delete__bin {
  display: none;
  -webkit-filter: invert(2%) sepia(81%) saturate(3485%) hue-rotate(245deg) brightness(102%) contrast(103%);
          filter: invert(2%) sepia(81%) saturate(3485%) hue-rotate(245deg) brightness(102%) contrast(103%);
  width: 15px;
  height: 15px;
  right: 5px;
  top: 1px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.delete:hover > .delete__bin,
.download:hover > .download__img {
  display: block;
}

.download {
  background: none;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  outline: none;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 1px 33px;
  font-size: 12px;
}

.download__img {
  display: none;
  -webkit-filter: invert(2%) sepia(81%) saturate(3485%) hue-rotate(245deg) brightness(102%) contrast(103%);
          filter: invert(2%) sepia(81%) saturate(3485%) hue-rotate(245deg) brightness(102%) contrast(103%);
  width: 15px;
  height: 15px;
  right: 5px;
  top: 2px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.utility {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
  z-index: 5;
}

.utility__message {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 30px;
  color: var(--soft_green);
}

.utility__message--red {
  color: var(--soft_red);
}

.utility__link {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 10px 33px;
}

.utility__link:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

.utility__special {
  color: var(--soft_blue);
}

.userUI {
  z-index: 5;
  position: absolute;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userUI__link {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 10px 22px;
}

.userUI__link:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

.userUI__name {
  margin-right: 15px;
  color: var(--soft_green);
}

.header {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 4;
}

p {
  color: #265687;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

p em {
  font-style: normal;
  display: inline-block;
}

p em:nth-child(1) {
  color: var(--text_light);
}

p em:nth-child(2) {
  color: var(--text_light);
}

p em:nth-child(3) {
  color: var(--text_light);
}

p em:nth-child(4) {
  color: var(--text_light);
}

p em:nth-child(5) {
  color: var(--text_light);
}

p em:nth-child(6) {
  color: var(--text_light);
}

p em:nth-child(7) {
  color: var(--text_light);
}

p em:nth-child(8) {
  color: var(--text_light);
}

p em.bounce-me {
  -webkit-animation: bounce 4s infinite ease-in-out;
  animation: bounce 3.1s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  60% {
    -webkit-transform: translate(0px, -50px) scale(1.2);
    opacity: 0.8;
    text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
  }
}

@keyframes bounce {
  60% {
    -webkit-transform: translate(0px, -50px) scale(1.2);
    opacity: 0.8;
    text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
  }
}

.input-container {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.input-container input {
  width: 100%;
  height: 100%;
  color: var(--text_light);
  border: none;
  outline: none;
  padding-top: 20px;
  background: transparent;
}

.input-container label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--text_light);
}

.input-container label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 4px solid var(--soft_green);
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.content-name {
  position: absolute;
  color: var(--text_light);
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.input-container input:focus + .label-name .content-name,
.input-container input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: var(--soft_green);
}

.input-container input:focus + .label-name::after,
.input-container input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.new_dir {
  width: 30%;
  margin-left: -30px;
}

.new_dir__prefix {
  font-size: 10px;
  color: #aaa;
}

.search {
  width: 30%;
  margin-left: -30px;
  margin-bottom: 1rem;
}

.custom-file-input {
  width: 400px;
  outline: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--text_dark)), to(var(--text_dark)));
  background: linear-gradient(top, var(--text_dark), var(--text_dark));
  border: 1px solid var(--text_light);
  color: var(--text_light);
  border-radius: 3px;
  padding: 10px 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.custom-file-input:hover::before {
  background-color: var(--text_light);
  color: var(--text_dark);
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, var(--text_light), var(--text_light));
}

.modal_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.modal_overlay--active {
  z-index: 6;
  opacity: 1;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(15, 15, 15, 0.6);
  border-radius: 20px;
  height: 400px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin-top: 60px;
}

.modal h3 span {
  color: var(--soft_blue);
  font-weight: 700;
}

.yes,
.no {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 5px 10px;
  min-width: 100px;
  z-index: 10;
}

.yes:hover,
.no:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

.yes:hover {
  background-color: var(--soft_green);
}

.no:hover {
  background-color: var(--soft_red);
}

.upload {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 10px 25px;
}

.upload:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}

#uploadForm {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

#closeUploadModal {
  background-color: transparent;
  border: 1px solid var(--text_light);
  font-size: 24px;
  color: var(--text_light);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#closeUploadModal:hover {
  background-color: var(--text_light);
  color: var(--text_dark);
}
/*# sourceMappingURL=main.css.map */